@charset "UTF-8";
/*======================================
  || color
======================================*/
/* ==============================
  || 設定
============================== */
:root {
  --ark-width--container: 1000px;
}

/* ==============================
  || breakpoints
============================== */
/* ==============================
  中央寄せ
============================== */
.p-about {
  font-size: 0.75rem;
}
.p-about__wrap {
  padding: 2.5rem 0;
}
@media screen and (min-width: 850px) {
  .p-about__wrap {
    display: grid;
    grid-template-columns: repeat(2, 47%);
    -moz-column-gap: 6%;
         column-gap: 6%;
    padding: 8rem 0;
  }
}
.p-about--first {
  padding: min(48px, 6vw);
  margin-bottom: 2.25rem;
}
.p-about__title {
  color: #176C64;
  text-align: center;
  letter-spacing: 5.6px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #176C64;
  font-weight: 900;
  font-size: 1rem;
}
.p-about__list {
  display: grid;
  row-gap: 0.5rem;
  grid-template-columns: repeat(2, auto);
  margin-bottom: 1.5rem;
}
.p-about__fig {
  margin-bottom: 2.25rem;
}
.p-about__fig figcaption {
  margin-top: 0.25rem;
  font-size: 0.625rem;
}
.p-about__button-wrap {
  display: flex;
  -moz-column-gap: 5%;
       column-gap: 5%;
  justify-content: center;
}
.p-about__button-wrap > a {
  width: 47.5%;
  max-width: 128px;
}

.p-about-access {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 850px) {
  .p-about-access {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.p-about-map {
  margin-bottom: 4rem;
}
@media screen and (min-width: 850px) {
  .p-about-map {
    display: flex;
    justify-content: space-between;
  }
  .p-about-map__pic {
    width: 36%;
  }
  .p-about-map__access {
    width: 60%;
  }
}

.p-about-gmap {
  margin-bottom: 5rem;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
.p-about-gmap iframe {
  width: 100vw;
}
@media screen and (min-width: 850px) {
  .p-about-gmap {
    margin-bottom: 6rem;
  }
}

.p-about-priceLink {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 1rem;
  width: 100%;
}
@media screen and (min-width: 850px) {
  .p-about-priceLink {
    grid-template-columns: repeat(2, calc(50% - 2rem));
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    row-gap: 0;
  }
}
.p-about-priceLink__list {
  text-align: center;
}
.p-about-priceLink__list a {
  border-radius: 8px;
  background: #F14870;
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 2rem 0;
  font-weight: 500;
}

.p-about-price {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
@media screen and (min-width: 850px) {
  .p-about-price {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    -moz-column-gap: 2%;
         column-gap: 2%;
  }
}
.p-about-price .p-class-price--title {
  border-bottom: none;
}

.p-about-price__menu.p-class-price__menu {
  margin: 5px 0;
  padding: 10px 0;
}
.p-about-price__menu.p-class-price__menu > div {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 850px) {
  .p-about-price__menu.p-class-price__menu > div {
    font-size: clamp(14px, 2vw, 20px);
  }
}
.p-about-price__menu.p-class-price__menu .notion {
  font-weight: normal;
  margin-top: 0.5rem;
}
.p-about-price__menu.p-class-price__menu.--first {
  border-bottom: 1px solid #FFF;
}
@media screen and (min-width: 850px) {
  .p-about-price__menu.p-class-price__menu {
    font-size: 20px;
  }
}
/*# sourceMappingURL=about.css.map */