@charset "UTF-8";
/*======================================
  || color
======================================*/
/* ==============================
  || 設定
============================== */
:root {
  --ark-width--container: 1000px;
}

/* ==============================
  || breakpoints
============================== */
/* ==============================
  中央寄せ
============================== */
@media screen and (min-width: 850px) {
  .p-class-top:not(.--hari) {
    display: grid;
    grid-template-columns: 1fr minmax(470px, 60%);
    -moz-column-gap: 6%;
         column-gap: 6%;
  }
  .p-class-top:not(.--hari) .p-class-top__head {
    min-height: 140px;
  }
}
.p-class-top.l-inner {
  padding: 2rem 12vw;
}
@media screen and (min-width: 850px) {
  .p-class-top.l-inner {
    padding-left: 0;
    padding-right: 0;
  }
}
.p-class-top__head {
  border: 4px solid #FFF;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 850px) {
  .p-class-top__head {
    margin-bottom: 0;
    position: relative;
  }
}
.--hari .p-class-top__head {
  margin-bottom: 2rem;
  max-width: 818px;
  margin-left: auto;
  margin-right: auto;
}
.p-class-top__head h2 {
  font-size: 1.125rem;
  font-weight: 900;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 850px) {
  .p-class-top__head h2 {
    font-size: 1.625rem;
  }
}
.p-class-top__head p {
  font-weight: 500;
  letter-spacing: 0.1em;
  margin: 0.25rem 0;
}
@media screen and (min-width: 850px) {
  .p-class-top__inner {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.p-class-top__list {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.75rem;
  line-height: 1.75;
  letter-spacing: 1px;
  text-align: center;
  padding-left: 0;
}
@media screen and (min-width: 850px) {
  .p-class-top__list {
    width: 100%;
    font-size: 0.875rem;
  }
}
.p-class-top--text {
  font-size: 0.875rem;
  letter-spacing: 0.7px;
  line-height: 1.75;
}
@media screen and (min-width: 850px) {
  .p-class-top--text {
    line-height: 2;
    font-size: 1.125rem;
  }
}

.p-class-menu-kids-intro {
  margin-bottom: 4rem;
}
.p-class-menu-kids-intro__headline {
  font-size: 12px;
  margin-bottom: 2rem;
  line-height: 1.8333333333;
}
.p-class-menu-kids-intro__top-fig {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}
.p-class-menu-kids-intro__grayBox {
  max-width: 700px;
}
@media screen and (min-width: 850px) {
  .p-class-menu-kids-intro__grayBox {
    display: grid;
    grid-template-columns: 1fr 250px;
    padding: 0;
  }
  .p-class-menu-kids-intro__grayBox div {
    padding: 1rem 1.5rem;
  }
  .p-class-menu-kids-intro__grayBox div .c-headline {
    text-align: left;
  }
}
.p-class-menu-kids-intro__grayBox figure {
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}
@media screen and (min-width: 850px) {
  .p-class-menu-kids-intro__grayBox figure img {
    width: 250px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 850px) {
  .p-class-menu {
    display: grid;
    grid-template-columns: repeat(2, auto);
    -moz-column-gap: min(3vw, 60px);
         column-gap: min(3vw, 60px);
  }
}
.p-class-menu__wrap {
  margin-bottom: 4rem;
}
.p-class-menu__fig {
  position: relative;
}
.p-class-menu__figc {
  line-height: 56px;
  font-weight: 700;
  font-size: 1.125rem;
}
.p-class-menu__text {
  font-size: 0.75rem;
  line-height: 1.8;
}
@media screen and (min-width: 850px) {
  .p-class-menu__text {
    font-size: 0.875rem;
  }
}
.p-class-menu__cat {
  position: absolute;
  top: -14px;
  left: 7px;
  display: block;
  background-color: #3DB95B;
  line-height: 28px;
  padding: 0 0.5rem;
}
@media screen and (min-width: 850px) {
  .p-class-menu__cat {
    left: 0;
  }
}
.p-class-menu__cat--text {
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 0.875rem;
  position: relative;
}
.p-class-menu__cat:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -28px;
  top: 0;
  border-top: 14px solid #3DB95B;
  border-right: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #3DB95B;
}
.p-class-menu__schedule-head {
  margin-top: 1rem;
  background: #373737;
  padding: 0.25rem 1rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
  display: inline-block;
}
.p-class-menu__schedule {
  padding: 1rem;
  font-size: 0.625rem;
  line-height: 2;
}
@media screen and (min-width: 850px) {
  .p-class-menu__schedule {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
  }
  .p-class-menu__schedule.--third {
    grid-template-rows: repeat(3, auto);
  }
}

.p-class-price {
  padding-left: 0;
  padding-right: 0;
}
.p-class-price .l-inner-box {
  margin-bottom: 1rem;
}
@media screen and (min-width: 850px) {
  .p-class-price .l-inner-box {
    margin-bottom: 0;
  }
  .p-class-price .l-inner-box:first-child {
    margin-right: min(48px, 3vw);
  }
  .p-class-price .l-inner-box:last-child {
    margin-left: min(48px, 3vw);
  }
}
.p-class-price--title {
  text-align: center;
  font-size: 1.375rem;
  font-weight: 700;
  border-bottom: 1px solid #FFF;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1.2px;
}
.page-adult .p-class-price--title {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: none;
}
.page-adult .p-class-price--title span {
  font-weight: normal;
}
.p-class-price--title span {
  font-size: 0.875rem;
  display: block;
  color: inherit;
  color: #373737;
}
.p-class-price__menu {
  color: #3ca198;
  font-weight: 700;
  /* menu design */
  width: 100%;
  font-size: 1.125rem;
  letter-spacing: 0.9px;
}
@media screen and (min-width: 850px) {
  .p-class-price__menu {
    font-size: 1.5rem;
    letter-spacing: 1.2px;
  }
}
.p-class-price__menu div {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px 0;
}
.p-class-price__menu div::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 100%;
  border-bottom: dotted 1px #3ca198;
}
.p-class-price__menu dt {
  margin: 0;
  padding: 0 5px 0 0;
  background-color: #F3EFE5;
  z-index: 2;
  text-align: left;
}
.p-class-price__menu dd {
  margin: 0;
  padding: 0 0 0 5px;
  background-color: #F3EFE5;
  z-index: 2;
  text-align: right;
}
.p-class-price__footer {
  font-size: clamp(16px, 4vw, 20px);
  letter-spacing: 1px;
  line-height: 1.6;
  padding: 1rem 0;
  max-width: 800px;
  font-weight: 700;
}
@media screen and (max-width: 375px) {
  .p-class-price__footer {
    letter-spacing: 0;
  }
}

.page-kids .p-class-price,
.p-class-price .page-about {
  max-width: 800px;
  margin: auto;
}
@media screen and (min-width: 850px) {
  .page-kids .p-class-price,
.p-class-price .page-about {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 2rem;
  }
  .page-kids .p-class-price:after,
.p-class-price .page-about:after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: #000;
    position: absolute;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
}
.p-about-price .p-class-price {
  padding: 1.5rem;
}
@media screen and (min-width: 850px) {
  .p-about-price .p-class-price {
    padding: min(1vw, 24px);
  }
}
@media screen and (min-width: 850px) {
  .page-adult .p-class-price {
    display: flex;
    align-items: flex-start;
  }
}
.page-adult .p-class-price p {
  color: #3CA198;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.8px;
}
.page-adult .p-class-price .bg-white {
  padding: 0.5rem 0.75rem;
}
.page-adult .p-class-price__menu {
  font-size: 0.875rem;
  letter-spacing: 0;
  margin-bottom: 2.5rem;
}
.page-adult .p-class-price__menu dt {
  white-space: nowrap;
}
.page-adult .p-class-price__menu span {
  color: inherit;
}
.p-class-price .stretch-box {
  position: relative;
  margin-bottom: 2rem;
}
.p-class-price .stretch-box:after {
  content: "";
  width: 27px;
  height: 14px;
  display: inline-block;
  position: absolute;
  bottom: -36px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-top: 14px solid #3CA198;
  border-right: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 14px solid transparent;
}
.p-class-price .stretch {
  font-size: 0.75rem;
  justify-content: space-between;
}
.p-class-price .stretch:first-child {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #3CA198;
}
.p-class-price .stretch P {
  font-size: 0.75rem;
}

.non-member-price {
  text-align: left;
}
.non-member-price > div:first-child {
  border-bottom: 1px solid #3CA198;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25em;
}
.non-member-price span {
  font-size: 0.875em;
}

.p-class-timetable__fig {
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 800px) {
  .p-class-timetable__fig {
    overflow-x: scroll;
  }
  .p-class-timetable__fig img {
    max-width: 800px;
  }
}

.p-class-timetable__figc {
  border-radius: 8px;
  background: #F14870;
  color: #fff;
  width: 100%;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

.p-class-voice:not(:last-child) {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #3CA198;
}
.p-class-voice dt {
  font-weight: 700;
  font-size: 1rem;
}
@media screen and (min-width: 850px) {
  .p-class-voice dt {
    font-size: 1.25rem;
  }
}
.p-class-voice dd {
  color: #373737;
  font-size: 0.75rem;
  line-height: 1.75;
}
@media screen and (min-width: 850px) {
  .p-class-voice dd {
    font-size: 0.875rem;
  }
}

.p-class-adult-top {
  margin-top: 3rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 850px) {
  .p-class-adult-top .l-inner-box {
    display: grid;
    grid-template-columns: 1fr 250px;
    padding: 0;
  }
}
@media screen and (min-width: 850px) {
  .p-class-adult-top__head {
    padding: 1.5rem;
  }
  .p-class-adult-top__head > * {
    text-align: left;
  }
}
.p-class-adult-top__headline {
  margin-bottom: 2rem;
}
@media screen and (min-width: 850px) {
  .p-class-adult-top__headline {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}
.p-class-adult-top__text {
  font-size: 0.75rem;
}
@media screen and (min-width: 850px) {
  .p-class-adult-top__text {
    font-size: 0.875rem;
  }
}
.p-class-adult-top__fig {
  width: 80%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 850px) {
  .p-class-adult-top__fig {
    margin: 0;
    width: 100%;
  }
}

.page-adult .p-class-price .l-inner-box {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 850px) {
  .page-adult .p-class-price .l-inner-box {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}

.p-class-hari {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 850px) {
  .p-class-hari {
    display: grid;
    grid-template-columns: 60% calc(40% - 2rem);
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
.p-class-hari--text {
  margin-bottom: 2rem;
}
@media screen and (min-width: 850px) {
  .p-class-hari--text {
    margin-bottom: 0;
  }
}
.p-class-hari--fig {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
/*# sourceMappingURL=class.css.map */