@use "../foundation/variable" as *;

.page .l-content__body.l-container {
  max-width: 100%;
}

.l-content__body.l-container {
  margin-top: 0;

  // 体験ページ
  .page-id-27 & {
    margin-bottom: 0;
  }
}

// 見出し
.l-content__top {
  height: 21vw;
  min-height: 80px;
  max-height: 200px;
}

// 画面いっぱいの祖父要素
.l-content__body {
  overflow: hidden;
}

.l-content__hidden {
  overflow: hidden;
}

.l-container--wide {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}

@media screen and (max-width: 768px) {
  .l-container--content-wide-sm {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
}

.l-section {
  margin-bottom: 4rem;

  @include mq() {
    margin-bottom: 8rem;
  }
}

// inner 
.l-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(var(--ark-width--container) + min(48px, 4vw)*2);
  padding-left: min(48px, 4vw);
  padding-right: min(48px, 4vw);
  width: 100%;

  .p-class-top & {
    padding: 2rem 12vw;
  }
}

.l-inner-wrap {
  padding-top: min(48px, 4vw);
  padding-bottom: min(48px, 4vw);
}

.l-inner-sm {
  padding-left: min(48px, 6vw);
  padding-right: min(48px, 6vw);
}

.l-inner-box {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(var(--ark-width--container) + min(48px, 4vw)*2);
  padding: min(48px, 4vw);
  width: 100%;
  margin-bottom: 4rem;
}

.l-inner-box .l-inner-box {
  margin-bottom: 2rem;
}

.l-introduction-box {
  font-size: .875rem;
  padding-left: min(48px, 6vw);
  padding-right: min(48px, 6vw);
  @include height(14, 24);
  margin-bottom: 3rem;

  &.--top {
    padding-top: 3rem;
    // padding-bottom: 3rem;
  }
}

.l-flex {
  display: flex;

  &--md {
    flex-direction: column;

    @include mq() {}
  }
}

// sidebar header
.l-sidebar {
  margin-top: 4rem;
}