@charset "UTF-8";
/*======================================
  || color
======================================*/
/* ==============================
  || 設定
============================== */
:root {
  --ark-width--container: 1000px;
}

/* ==============================
  || breakpoints
============================== */
/* ==============================
  中央寄せ
============================== */
.l-footer {
  background-color: #373737;
  margin-top: 3.5rem;
}
@media screen and (min-width: 850px) {
  .l-footer {
    margin-top: 8rem;
  }
}
.home .l-footer, .page-id-27 .l-footer {
  margin-top: 0;
}
.l-footer__foot {
  padding-top: 0;
}
.l-footer__inner {
  padding-bottom: 5rem;
}
@media screen and (min-width: 850px) {
  .l-footer__inner {
    padding-bottom: 0;
  }
  .l-footer__inner .l-container {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: flex-end;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
.l-footer__btnWrap {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: center;
  margin-bottom: 3rem;
}
@media screen and (min-width: 850px) {
  .l-footer__btnWrap {
    margin-bottom: 2rem;
  }
}
.l-footer__btnWrap .c-button {
  margin-left: 0;
  margin-right: 0;
}
.l-footer__logo {
  width: 128px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 850px) {
  .l-footer__logo {
    width: 143px;
    margin-right: 3rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.l-footer__ig {
  margin-bottom: 4rem;
}
.l-footer__ig iframe {
  margin-bottom: 3rem;
  width: 100%;
  max-width: 1500px;
  height: 50vw;
  max-height: 750px;
  margin-left: auto;
  margin-right: auto;
}

.l-footer__nav {
  padding-top: 2rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.5rem;
}
.l-footer__nav a:before {
  content: "■";
  display: inline-block;
  padding-right: 0.25rem;
  text-decoration: none;
}
@media screen and (min-width: 850px) {
  .l-footer__nav {
    grid-template-columns: auto 1fr;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .l-footer__nav li {
    white-space: nowrap;
  }
}

.l-footer-info__list {
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  padding: 1rem 0;
  font-size: 0.875rem;
}
@media screen and (min-width: 850px) {
  .l-footer-info__list {
    border: none;
    border-right: 1px solid #FFF;
    padding-right: 2.75rem;
    margin-right: 2rem;
    padding-bottom: 0;
  }
}
.l-footer-info__name, .l-footer-info__number {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.75;
}
.l-footer-info__link {
  margin-left: 0.5rem;
  display: inline-block;
}
.l-footer-info__link::before {
  content: "";
  display: inline-block;
  background-image: url(../../images/svg/icon-map-w.svg);
  width: 15px;
  height: 15px;
  background-size: contain;
  background-position: center center;
}
.l-footer-info__number {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}
.l-footer-info__number::before {
  content: "";
  display: inline-block;
  background-image: url(../../images/svg/icon-tel.svg);
  width: 18px;
  height: 18px;
  background-size: contain;
  background-position: center center;
}
/*# sourceMappingURL=footer.css.map */