@charset "UTF-8";
/*======================================
  || color
======================================*/
/* ==============================
  || 設定
============================== */
:root {
  --ark-width--container: 1000px;
}

/* ==============================
  || breakpoints
============================== */
/* ==============================
  中央寄せ
============================== */
.c-button {
  display: block;
  background: #3DB95B;
  color: #FFF;
  text-align: center;
  width: clamp(150px, 40vw, 188px);
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  line-height: 37px;
  box-shadow: 2px 2px 1px rgb(142, 226, 140) inset, -2px -2px 1px #005a14 inset, 1px 1px 0px #373737;
  /* 外側右下ぼかし */
}
.c-button__text {
  color: #3ca198;
  font-weight: 700;
  margin-bottom: 5rem;
  letter-spacing: 0.8px;
}
@media screen and (min-width: 850px) {
  .c-button__text {
    letter-spacing: 1.2px;
  }
}
@media screen and (min-width: 850px) {
  .c-button {
    line-height: 46.39px;
  }
}
.c-button:hover {
  opacity: 0.75;
}
.c-button__grad {
  background: linear-gradient(180deg, #41A9A0 0%, #004B43 97%);
  text-align: center;
  color: #fff;
  border-radius: 8px;
  display: block;
  line-height: 30px;
  text-decoration: none;
  font-size: 0.75rem;
}
.c-button__grad:hover {
  opacity: 0.75;
}
.c-button__access {
  display: flex;
  background: #3DB95B;
  color: #fff;
  border-radius: 12px;
  align-items: center;
  width: 100%;
  max-width: 470px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 850px) {
  .c-button__access {
    width: 48%;
  }
}
.c-button__access--wrap {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
@media screen and (min-width: 850px) {
  .c-button__access--wrap {
    flex-direction: row;
    justify-content: space-between;
    row-gap: 0;
  }
}
.c-button__access--icon {
  grid-row-start: 1;
  grid-row-end: 3;
  width: 84.26px;
  margin-bottom: 0;
}
.c-button__access--title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.6;
}
.c-button__access--text {
  font-size: 0.625rem;
}

.c-fixedButton {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  -moz-column-gap: 1%;
       column-gap: 1%;
  padding-left: 0;
  justify-content: center;
}
.c-fixedButton__item {
  background: #F14870;
  text-align: center;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 1px;
  width: 48%;
  border-radius: 8px 8px 0 0;
}
.c-fixedButton__item a {
  text-decoration: none;
  display: grid;
  place-content: center;
  height: 100%;
}
.c-fixedButton--pc {
  display: none;
}
@media screen and (min-width: 850px) {
  .c-fixedButton {
    display: none;
  }
  .c-fixedButton--pc {
    display: block;
    position: fixed;
    top: 120px;
    right: 0;
  }
  .c-fixedButton--pc-link {
    position: relative;
    color: #fff;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    background: #F14870;
    text-align: center;
    font-size: 1rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    text-decoration: none;
    padding: calc(1rem + 10px) 0.5rem 1rem;
  }
  .c-fixedButton--pc-link:before {
    content: "";
    display: inline-block;
    background-image: url(../../images/svg/icon-reserve.svg);
    width: 20px;
    height: 20px;
    top: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.c-button-apply__text {
  position: relative;
  margin-bottom: 3rem;
  font-size: 1.125rem;
  letter-spacing: 0.9px;
}
@media screen and (min-width: 850px) {
  .c-button-apply__text {
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    margin-bottom: 5rem;
  }
}
.c-button-apply__text:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -50px;
  width: 78px;
  height: 18px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-top: 18px solid #176C64;
  border-right: 39px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 39px solid transparent;
}
@media screen and (min-width: 850px) {
  .c-button-apply__text:after {
    bottom: -66px;
  }
}

.splide__pagination__page {
  background: #606060;
  padding: 0.15rem 1.5rem;
  margin: 0 0.15rem;
}

.splide__pagination__page.is-active {
  background: #3DB95B;
}

.p-fixBtnWrap {
  transform: rotate(-90deg);
  right: -25px;
  line-height: 1;
  color: #FFF;
  bottom: 12%;
}
.p-fixBtnWrap span:not(:first-child) {
  display: none;
}
@media screen and (min-width: 850px) {
  .p-fixBtnWrap {
    right: -50px;
    bottom: 50px;
  }
  .p-fixBtnWrap span {
    display: inline-block;
  }
}

.c-fixBtn.-pagetop {
  background-color: #3DB95B;
  width: 75px;
  height: 25px;
}
@media screen and (min-width: 850px) {
  .c-fixBtn.-pagetop {
    width: 145px;
    height: 45px;
  }
}

.c-fixBtn.u-flex--c {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
/*# sourceMappingURL=button.css.map */