@use "../foundation/variable" as *;

.c-button {
  display: block;
  background: #3DB95B;
  color: #FFF;
  text-align: center;
  width: clamp(150px, 40vw, 188px);
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  line-height: 37px;
  box-shadow:
    2px 2px 1px rgb(142, 226, 140) inset,
    /* 内側左上ハイライト */
    -2px -2px 1px #005a14 inset,
    /* 内側右下シャドー */
    // -2px -2px 3px rgb(142, 226, 140),
    /* 外側左上ぼかし */
    1px 1px 0px #373737;
  /* 外側右下ぼかし */


  &__text {
    color: #3ca198;
    font-weight: 700;
    margin-bottom: 5rem;
    letter-spacing: 0.8px;

    @include mq() {
      letter-spacing: 1.2px;
    }
  }

  @include mq() {
    line-height: 46.39px;
  }

  &:hover {
    opacity: 0.75;
  }

  &__grad {
    background: linear-gradient(180deg, #41A9A0 0%, #004B43 97%);
    text-align: center;
    color: #fff;
    border-radius: 8px;
    display: block;
    line-height: 30px;
    text-decoration: none;
    font-size: 0.75rem;

    &:hover {
      opacity: 0.75;
    }
  }

  &__access {
    display: flex;
    // grid-template-columns: auto 1fr;
    background: $main-color;
    color: #fff;
    border-radius: 12px;
    align-items: center;
    width: 100%;
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;

    @include mq() {
      width: 48%;
    }

    &--wrap {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;


      @include mq() {
        flex-direction: row;
        justify-content: space-between;
        row-gap: 0;
      }
    }

    &--icon {
      grid-row-start: 1;
      grid-row-end: 3;
      width: 84.26px;
      margin-bottom: 0;
    }

    &--title {
      font-size: 1.125rem;
      font-weight: 700;
      @include height(10, 16);
    }

    &--text {
      font-size: 0.625rem;
    }


  }
}

.c-fixedButton {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  column-gap: 1%;
  padding-left: 0;
  justify-content: center;

  &__item {
    background: $pink;
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 1px;
    width: 48%;
    border-radius: 8px 8px 0 0;

    a {
      text-decoration: none;
      display: grid;
      place-content: center;
      height: 100%;
    }
  }

  &--pc {
    display: none;
  }

  @include mq() {
    display: none;

    &--pc {
      display: block;
      position: fixed;
      top: 120px;
      right: 0;

      &-link {
        position: relative;
        color: #fff;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        background: $pink;
        text-align: center;
        font-size: 1rem;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        text-decoration: none;
        // line-height: 50px;
        padding: calc(1rem + 10px) 0.5rem 1rem;

        &:before {
          content: "";
          display: inline-block;
          background-image: url(../../images/svg/icon-reserve.svg);
          width: 20px;
          height: 20px;
          top: 5px;
          @include center(x);
        }
      }


    }
  }
}

.c-button-apply {
  &__text {
    position: relative;
    margin-bottom: 3rem;
    font-size: 1.125rem;
    letter-spacing: 0.9px;

    @include mq() {
      font-size: 1.5rem;
      letter-spacing: 1.2px;
      margin-bottom: 5rem;
    }

    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: -50px;
      width: 78px;
      height: 18px;
      @include center(x);
      border-top: 18px solid #176C64;
      border-right: 39px solid transparent;
      border-bottom: 18px solid transparent;
      border-left: 39px solid transparent;

      @include mq() {
        bottom: -66px;
      }
    }
  }
}


// スライダー
.splide__pagination__page {
  background: #606060;
  padding: 0.15rem 1.5rem;
  margin: 0 0.15rem;
}

.splide__pagination__page.is-active {
  background: #3DB95B;
}

// TOPへ戻るボタン
// p-fixBtnWrap
.p-fixBtnWrap {
  // opacity: 1;
  transform: rotate(-90deg);
  right: -25px;
  line-height: 1;
  color: #FFF;
  bottom: 12%;

  span:not(:first-child) {
    display: none;
  }

  @include mq() {
    right: -50px;
    bottom: 50px;

    span {
      display: inline-block;
    }
  }
}

.c-fixBtn.-pagetop {
  background-color: #3DB95B;
  width: 75px;
  height: 25px;

  @include mq() {
    width: 145px;
    height: 45px;
  }
}

.c-fixBtn.u-flex--c {
  column-gap: 0.5rem;
}