@charset "UTF-8";
/*======================================
  || color
======================================*/
/* ==============================
  || 設定
============================== */
:root {
  --ark-width--container: 1000px;
}

/* ==============================
  || breakpoints
============================== */
/* ==============================
  中央寄せ
============================== */
.c-title--lv2 {
  font-weight: 900;
  color: #3DB95B;
  letter-spacing: 4.8px;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.c-title--lv2:before {
  display: block;
  content: "";
  width: 32px;
  height: 32px;
  margin: auto;
}
.c-title--lv2:after {
  display: block;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1.6px;
}
@media screen and (min-width: 850px) {
  .c-title--lv2:after {
    letter-spacing: 0;
    font-size: 1.375rem;
  }
}
.c-title--lv2.--access {
  position: relative;
  margin-top: 3.5rem;
}
.c-title--lv2.--access:before {
  content: "";
  display: inline-block;
  background-image: url(../../images/svg/icon-map-g.svg);
  background-size: contain;
  background-position: center center;
  width: 30px;
  height: 40px;
  top: -30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.c-title--lv2.--access:after {
  content: "アクセスについて";
}
.c-title--lv2.--information {
  color: #fff;
}
.c-title--lv2.--information:before {
  background-image: url(../../images/svg/icon-info.svg);
}
.c-title--lv2.--information:after {
  content: "お知らせ";
}
.c-title--lv2.--instructor:before {
  background-image: url(../../images/svg/icon-instructor.svg);
}
.c-title--lv2.--instructor:after {
  content: "指導者";
}
.c-title--lv2.--reserve:before {
  background-image: url("../../images/svg/icon-reserve-g.svg");
}
.c-title--lv2.--reserve:after {
  content: "予約";
}
.c-title--lv2.--ig {
  color: #fff;
}
.c-title--lv2.--ig:before {
  background-image: url("../../images/svg/icon-ig.svg");
}
.c-title--lv3 {
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 850px) {
  .c-title--lv3 {
    margin-bottom: 4rem;
  }
}

.c-pageTitle__main {
  font-size: 18px;
  letter-spacing: 3.6px;
}
@media screen and (min-width: 850px) {
  .c-pageTitle__main {
    font-size: 26px;
    letter-spacing: 5.2px;
  }
}
.c-pageTitle__main:after {
  display: block;
  text-align: center;
  font-size: 12px;
}
@media screen and (min-width: 850px) {
  .c-pageTitle__main:after {
    font-size: 18px;
  }
}
.page-id-24 .c-pageTitle__main:after {
  content: "子供クラス";
}
.page-id-16 .c-pageTitle__main:after {
  content: "大人クラス";
}
.page-id-22 .c-pageTitle__main:after {
  content: "指導者";
}
.page-id-27 .c-pageTitle__main:after {
  content: "体験レッスン";
}
.page-id-14 .c-pageTitle__main:after {
  content: "アクロス南麻布の詳細";
}
.page-id-20 .c-pageTitle__main:after {
  content: "お問い合わせ";
}
.page-id-18 .c-pageTitle__main:after {
  content: "注意事項";
}

.c-title-bar {
  background: transparent linear-gradient(90deg, #41A9A0 0%, #004B43 97%) 0% 0% no-repeat padding-box;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.c-headline {
  font-size: 1rem;
  color: #3DB95B;
  text-align: center;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 850px) {
  .c-headline {
    font-size: 1.25rem;
  }
}
/*# sourceMappingURL=title.css.map */