@use "./foundation/variable" as *;

// text
.u-link-none {
  text-decoration: none;
}

.u-inline {
  display: inline-block;
}

.u-nowrap {
  white-space: nowrap;
}

.u-br_sm {
  display: block;

  @include mq(md) {
    display: none;
  }
}

.u-br_md {
  display: none;

  @include mq(md) {
    display: block;
  }
}

// box
.u-box-radius {
  border-radius: 10px;
}

// font-size
.u-fs14 {
  font-size: 0.875rem !important;
}

.u-lh2 {
  line-height: 2;
}

// margin
.u-mb0 {
  margin-bottom: 0 !important;
}

.u-mb8 {
  margin-bottom: 0.5rem;
}

.u-mb12 {
  margin-bottom: 0.75rem;
}

.u-mb16 {
  margin-bottom: 1rem;
}

.u-mb32 {
  margin-bottom: 2rem;
}

.u-mb48 {
  margin-bottom: 3rem;
}

.u-mt-none {
  margin-top: 0;
}

.u-mb-none {
  margin-bottom: 0;
}

.u-pd16 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.u-pd32 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}